<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seyehat Nabzı Teklifi - Ünal İstanbul Bosphorus</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <header>

        <header>
            <!-- Header konteyneri -->
            <div class="header-container">
                <!-- Header görseli -->
                <img src="~/images/otellobi.jpeg">
                <!-- Header overlay -->
                <div class="header-overlay">
                    <!-- Otel logo ve adı -->
                    <div class="hotel-logo">
                        <i class="fas fa-hotel"></i>
                        <h1 class="hotel-name">Ünal İstanbul <br /> Bosphorus</h1>
                    </div>
                    <!-- Genel bakış başlığı -->
                    <div class="general-overview">Aile Paketi</div>

                </div>
            </div>
        </header>
    </header>

    <main>
        <section class="offer-details">
            <h2>Aile Pakti</h2>
            <p>
                Aile tatillerinin unutulmaz olduğu yer, 15 Haziran 2024 - 15 Ağustos 2024 tarihleri ​​arasındaki konaklamalar için Çırağan Palace Kempinski İstanbul'daki özel Aile Kaçamağı teklifimizden yararlanın.
            </p>

            <h3>Bu teklif şunları içerir:</h3>
            <ul>
                <li>Aileniz için 2 oda ayırtın ve ikinci odayı çocuklar için (12 yaşına kadar) en iyi mevcut fiyattan %50 indirimle alın. </li>
                <li>Günlük kahvaltı</li>

            </ul>

            <h4>Şartlar ve Koşullar:</h4>
            <ul>
                <li>Rezervasyon için minimum 2 gece konaklama ve 2 oda gerekmektedir.</li>
                <li>Her iki odanın da aynı soyadı altında rezerve edilmesi gerekmektedir. </li>
                <li>Bu teklif başka hiçbir teklif veya promosyonla birleştirilemez.</li>
                <li>Bu teklif grup konaklamalarında geçerli değildir. </li>
                <li>Bu teklif KDV'ye tabidir.</li>
            </ul>
        </section>

        <section class="offer-photo">
            <img src="istanbul_offer.jpg" alt="İstanbul'da Seyehat Nabzı">
        </section>
    </main>


    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: black;
            margin: 0;
            padding: 0;
            color: #333;
        }

        /* Başlık konteyneri stilleri */
        .header-container {
            position: relative;
            width: 100%;
            height: 700px;
            overflow: hidden;
        }

            .header-container img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: transform 0.6s ease;
                z-index: 0; /* Arka plan görselinin z-index değeri */
            }

                .header-container img:hover {
                    transform: scale(1.2); /* Görsel üzerine gelince %20 daha büyük olacak şekilde büyüme efekti */
                }

        .header-overlay {
            position: absolute;
            top: 0;
            left: 0;
            color: white;
            z-index: 1;
            padding: 20px; /* Üstten ve soldan boşluk bırakmak için */
            text-align: center;
            width: 100%;
        }

        .hotel-logo {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            margin-bottom: 0.5em;
            z-index: 2; /* Hotel adı ve logo için z-index değeri */
        }

            .hotel-logo i {
                font-size: 1.5em;
                margin-right: 0.5em;
            }

        .hotel-name {
            font-size: 1.8em; /* Yazı boyutu büyütüldü */
            font-weight: bold; /* Kalın font */
            font-style: italic;
            margin: 0;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8); /* Hafif gölgeleme */
        }

        .general-overview {
            font-size: 3.5em; /* Yazı boyutu büyütüldü */
            font-weight: bold; /* Kalın font */
            margin-bottom: 20px;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Hafif gölgeleme */
        }

        .hotel-sentence {
            font-size: 1em;
            margin-bottom: 1em;
        }

        .logo img {
            width: 50px;
            vertical-align: middle;
        }

        .logo h1 {
            display: inline;
            font-size: 24px;
            margin: 0;
            vertical-align: middle;
        }

        main {
            padding: 20px;
        }

        .offer-details {
            background-color: black;
            color: white;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

            .offer-details h2 {
                color: white;
            }

            .offer-details ul {
                list-style-type: disc;
                margin-left: 20px;
            }

        .offer-photo {
            margin-top: 20px;
            text-align: center;
        }

            .offer-photo img {
                max-width: 100%;
                border-radius: 10px;
            }

    </style>
</body>

</html>



