@{
    ViewData["Title"] = "Offers";
}

<h2>Tekliflerimiz</h2>

<div class="teklif-card">
    <h3>Travel Pulse</h3>
    <a href="/Offers/TravelPulse" class="btn btn-primary">Daha Fazla Detay</a>
</div>

<div class="teklif-card">
    <h3>Early Reservation</h3>
    <a href="/Offers/EarlyReservation" class="btn btn-primary">Daha Fazla Detay</a>
</div>

<div class="teklif-card">
    <h3>Family Package</h3>
    <a href="/Offers/FamilyPackage" class="btn btn-primary">Daha Fazla Detay</a>
</div>

<div class="teklif-card">
    <h3>Stay Three Pay Two</h3>
    <a href="/Offers/StayThreePayTwo" class="btn btn-primary">Daha Fazla Detay</a>
</div>

<div class="teklif-card">
    <h3>Romantic Getaway</h3>
    <a href="/Offers/RomanticGetaway" class="btn btn-primary">Daha Fazla Detay</a>
</div>

